//- Analytics tracking
//- This file will be contained in every page
- var ga = theme.google_analytics
- var ta = theme.tencent_analytics

if ga
    script
        | (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create',
        != '"' + ga + '"'
        | ,'auto');ga('send','pageview');

if ta
    script(async src="http://tajs.qq.com/stats?sId=" + ta  charset="UTF-8")