#list{
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 60%;
  .listItem {
    position: relative;
    padding-left: 40px;
    padding-top: 4px;
    
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 19px;
      width: 1px;
      height: 100%;
      border-right: 2px solid #49b1f5;
      z-index: 1;
    }
    
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #e0e0e0;
      border-radius: 4px;
      left: 18px;
      top: 50%;
      margin-top: -4px;
      z-index: 1;
    }

    .article-sort-title:after{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: 4px solid #3d93fd;
      border-radius: 8px;
      left: 12px;
      box-shadow: 0 0 0 3px #3d93fd;
      margin-top: -7px;
      z-index: 2;
    }
    
    .article-sort-title,.highlight,.article-sort-year{
			&:hover:after{
				background-color: #e0e0e0;
				border: 4px solid #ff7242;
				box-shadow: 0 0 0 3px #ff7242;
			}
		}
    .article-sort-year:after{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      border: 4px solid #3d93fd;
      border-radius: 8px;
      left: 12px;
      box-shadow: 0 0 0 3px #3d93fd;
      margin-top: -6px;
      z-index: 2;
    }
    .highlight:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      border: 4px solid #3d93fd;
      border-radius: 8px;
      left: 14px;
      box-shadow: 0 0 0 3px #3d93fd;
      margin-top: -4px;
      z-index: 2;
    }
    .highlight:hover > .listItemContent {
        background-color: #edf2f4;
        color: #ef233c;
    }
    .highlight:hover .listItemContent-date{
        color: #2b2d42;
    }
  }
}
.listItemTitle{
  padding: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  font-size:18px;
  font-weight: bold;
}

.listItemYear{
  padding: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  font-size:16px;
  font-weight: bold;
}

.listItemContent {
  padding: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
}
.listItemContent-date {
  color: #cacaca;
}
.listItemContent-content{
  display: inline-block;
  margin-left: 0.8rem;
  color: #4c4948;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.listItemContent-content:hover{
  color: #ef233c;
}
