@import "base";
#body-container {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
    #post-list {
        &.left {
            float: left;
            width: 62%;
        }
    }
    #sidebar {
        padding-left: 50px;
        &.left {
            float: left;
            max-width: 38%;
        }
    }
}

#post-container {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
}

.clear {
    clear: both;
}

@media screen and (min-width: $CONTENT_MIN_WIDTH) {
    #body-container {
        width: $CONTENT_WIDTH;
        margin: 0 auto;
    }
    header {
        padding: 20px 100px;
    }
}

@media screen and (max-width: $CONTENT_MIN_WIDTH) {
    #body-container {
        width: 100%;
    }
    main.container,
    .home.post-list,
    .archive {
        margin-top: 0;
    }
    .archive .post-item {
        padding-left: 20px;
    }
    .post-content {
        h2,
        h3,
        h4,
        h5,
        h6 {
            max-width: 300px;
            left: 15px;
        }
    }
    .ds-thread,
    #disqus_thread {
        margin: 2em 10px;
    }
}
