@import "base";
.panel-title {
    border-left: 3px solid $MAIN_COLOR;
    p {
        padding-left: 10px;
        // background: $MAIN_COLOR + 150;
    }
}

#about-panel {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    .info {
        .title {
            font-size: 18px;
        }
        .url {
            color: #666666;
            font-size: 16px;
            font-weight: 200;
        }
        .bio {
            padding-top: 14px;
            font-size: 15px;
            font-weight: 200;
            color: #777777;
        }
    }
    .avatar {
        float: right;
        margin-left: 50px;
        border-radius: 100%;
        border: 3px solid #F2F5F7;
        width: 86px;
        height: 86px;
    }
}

#friend-links-panel {
    padding-top: 10px;
    width: 100%;
    display: inline-block;
    a.link-item {
        .link-container {
            padding: 10px;
            .site-name {
                color: $MAIN_COLOR;
            }
            .site-url {
                font-size: 12px;
                padding-left: 10px;
                font-weight: 200;
                color: #aaa;
            }
            .site-desc {
                font-weight: 200;
                color: #666;
                font-size: 14px;
            }
            &:hover {
                background: #F2F5F7;
            }
        }
    }
}
